.invoice-summary-card {
    padding: 32px 24px !important;
}

.invoice-summary-value {
    padding-bottom: 16px !important;
    padding-top: 8px !important;
    line-height: normal !important;
    overflow: visible !important;
}

.invoice-table-wrapper {
    padding: 24px !important;
}

.invoice-table th,
.invoice-table td {
    padding-top: 28px !important;
    padding-bottom: 28px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.invoice-table th:first-child,
.invoice-table td:first-child {
    padding-left: 32px !important;
}

.invoice-table th:last-child,
.invoice-table td:last-child {
    padding-right: 32px !important;
}